* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  height: 100vh;
  gap: 10px;
  padding: 10px;

  /* 4 columns layout */
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /* 5 rows layout */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#grid > div {
  background-color: #3f7f1f;
  color: white;
  font-size: 32px;
  padding: 10px;
  border: 2px solid white;
}

/* Box 1 */
#grid div:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

/* Box 2 */
#grid div:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}

/* Box 3 */
#grid div:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* Box 4 */
#grid div:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

/* Box 5 */
#grid div:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

/* Box 6 */
#grid div:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

/* Box 7 */
#grid div:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

/* Box 8 */
#grid div:nth-child(8) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

/* Box 9 */
#grid div:nth-child(9) {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

/* Box 10 */
#grid div:nth-child(10) {
  grid-column: 2 / 5;
  grid-row: 5 / 6;
}
